:root {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #242424;
}



body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
